target
.DS_Store
.direnv
capabilities/**/Cargo.lock
capabilities/**/*.json
modules/**/Cargo.lock
tests/**/*.json
tests/**/Cargo.*
tests/cap*/interface

*.dylib
*.interface
*.cargo
*.wasm
*.module
result