target
.DS_Store
.direnv
result

capabilities/**/interface
capabilities/**/Cargo.toml
capabilities/**/*.json
capabilities/**/artifacts
modules/**/Cargo.toml
modules/**/artifacts
examples/**/logs
.antigravity

**/test/.cargo
**/test/anon
**/test/capabilities
**/test/interfaces
**/test/modules
**/test/build
*.pyrolog
*.pyrowal