target
.DS_Store
.direnv
result

capabilities/**/interface
capabilities/**/*.json
capabilities/**/artifacts
capabilities/**/debug
capabilities/**/Cargo.*
modules/**/artifacts
modules/**/debug
modules/**/Cargo.*
examples/**/logs
.antigravity

**/test/.cargo
**/test/anon
**/test/capabilities
**/test/interfaces
**/test/modules
**/test/0
**/test/1
**/test/2
**/test/3
*.pyrolog
*.pyrolog.idx
*.pyrowal
*.db
lib/pyroduct/errors.md